
@font-face {
  font-family: 'Karbon';
  font-style: normal;
  font-weight: 200;
  src: url(/fonts/Karbon-Regular.otf) format('woff2'), url(/fonts/Karbon-Regular.otf) format('woff');
}

body {
    font-family: 'Karbon';
}
.flex {
    display: flex;
}

.flex-centered {
    align-items: center;
    justify-content: center;
}

.city-cell {
}

.city-cell-link {
    flex-direction: column;
    padding: 20px;
    text-decoration: none;
}

.city-cell-image {
    margin-bottom: 20px;
    max-width: 100%;
    height: auto;
}

.logo {
    display: block;
    width: 150px;
    margin: auto;
}