
@font-face {
  font-family: 'Karbon';
  font-style: normal;
  font-weight: 200;
  src: url(/fonts/Karbon-Regular.otf) format('woff2'), url(/fonts/Karbon-Regular.otf) format('woff');
}

body {
    font-family: 'Karbon';
}

#app {
    margin: auto;
    max-width: 640px;
    border: 1px solid #bbb;
}

.flex {
    display: flex;
}
.flex-wrap {
    flex-wrap: wrap;
}

.flex-centered {
    align-items: center;
    justify-content: center;
}

.city-cell {
    flex: 1 1 25%;
}

.city-cell-link {
    flex-direction: column;
    padding: 10px;
    text-decoration: none;
}

.city-cell-image {
    margin-bottom: 10px;
    max-width: 100%;
    height: auto;
}

.logo {
    display: block;
    width: 150px;
    margin: auto;
}